:root {
  --primary: #fff;
  --secondary: #474787;
  --tri: #3c243c;
  --done: #d63031;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.712);
  accent-color: var(--primary);
}

body {
  background-color: #dfe6e9b4;
}

h1 {
  margin: 0 auto;
  padding: 35px 0 15px 0;
  width: 70px;
  color: rgba(22, 19, 19, 0.826);
  position: relative;
  transform: scaleY(1.2);
}

.t-d {
  display: inline-block;
  width: 30px;
  height: 35px;
  overflow: hidden;
}
.d,
.t {
  color: var(--primary);
}

.t {
  animation-name: head-animation;
  animation-duration: 1.2s;
  animation-direction: alternate;
  position: relative;
  /* animation-iteration-count:infinite; */
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes head-animation {
  0% {
    top: 0px;
  }
  25% {
    top: 0px;
  }
  55% {
    top: -37px;
  }
  75% {
    top: -37px;
  }
  100% {
    top: -37px;
  }
}
.o {
  display: inline-block;
  position: absolute;
}
/* add new task  */
#container {
  background-image: linear-gradient(175deg, var(--secondary), var(--primary));

  border-radius: 10px;

  width: 70%;
  margin: 50px auto;

  box-shadow: 15px 15px 15px rgba(128, 128, 128, 0.686);
}
#form-container {
  width: 90%;
  margin: 20px auto;

  display: flex;
  justify-content: center;
  position: relative;
}
input[type="text"] {
  display: block;
  padding: 10px;
  border-radius: 5px;
  margin: 20px auto;
  border: none;

  box-shadow: 5px 5px 8px rgba(128, 128, 128, 0.557);
}
#title {
  width: 30vw;
  height: 5vh;
  margin: 10px 0px;
}

#body {
  height: 10vh;
  width: 40vw;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

:focus {
  outline: unset;
}

input[type="submit"] {
  all: unset;
  cursor: pointer;

  position: absolute;
  top: 12px;
  right: 10px;

  text-align: center;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 5px 5px 8px rgba(128, 128, 128, 0.557);

  transition: 0.5s;
}
input[type="submit"]:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

/* displaying tasks */

#total-tasks{
  padding-left: 15px;
  padding-bottom: 10px;
  font-size: 15px;

}
#tasks-displayer {
  transition: all 0.5s;

}
.task-holder {
  position: relative;
  min-height: 17vh;
  padding: 15px;
  transition: all 0.5s;
  overflow-wrap: break-word;
  border-bottom: 2px solid var(--primary);
}

.task-holder:hover {
  background-color: #fff;
}
.task-title {
  color: black;
  font-weight: bold;
  word-spacing: 2px;
  text-transform: capitalize;
}

.task-body {
  color: var(--tri);
  letter-spacing: 1px;
  word-spacing: 3px;
  padding: 10px 5px 10px 0px;
  width: 50vw;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: left;
}
.task-time {
  font-size: 12px;
  letter-spacing: 1px;
  padding: 5px 0px 10px;
}

.done {
  color: var(--done);
  text-decoration: line-through;
  
}
.completed-task{
  background-color: #ffffff10;
  backdrop-filter: blur(22px);
  background-color: red;
}
/* crud */
/* buttons */
.btns-container {
  position: absolute;
  right: 15px;
  top: 5px;
  display: flex;
  flex-direction: column;

}
.delete-btn,
.edit-btn,
.complete-btn {
  all: unset;
  padding: 10px;
  cursor: pointer;
}

.title-text-area,
.body-text-area {
  all: unset;
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  color: black;
  padding: 5px 10px;
  margin-bottom: 15px;
  font-size: 15px;
}
.title-text-area {
  width: 25vw;
  height: 3vh;
  font-weight: bold;
}

.body-text-area {
  height: 15vh;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.control-btns-container{
  display: flex;
  gap: 12px;

}
.edit-save, .edit-cancel{
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background-color: var(--primary);
  transition: 0.2s;
}

.edit-save:hover, .edit-cancel:hover{
  background-color: var(--secondary);
  color: var(--primary);
}